@if ((pokemon$ | async); as pokemon) {
  <section class="pokemon-details__container">
    <app-pokemon-card
      [clickable]="false"
      [pokemon]="pokemon"
      class="pokemon-details__pokemon-main-info-card"
    />

    <mat-card class="pokemon-details__pokemon-abilities-card">
      <mat-card-content class="pokemon-details__pokemon-card-content">
        <b class="pokemon-details__name">{{ 'ABILITIES' | titlecase }}</b>
        <ul>
          @for (ability of pokemon.abilitiesNames; track ability) {
            <li>{{ ability }}</li>
          }
        </ul>
      </mat-card-content>
    </mat-card>
  </section>
}

@if ((pokemonEvolutions$ | async); as evolutions) {
  <section>
    <b>{{ 'EVOLUTIONS' | translate }}</b>
    <div class="pokemon-details__evolutions-container">
      @for (evolution of evolutions; track evolution.id) {
        <app-pokemon-card
          (click)="openDetails(evolution)"
          [pokemon]="evolution"
          class="pokemon-details__pokemon-main-info-card"
        />
      }
    </div>
  </section>
}

<button (click)="goBack()" class="pokemon-details__go-back" mat-raised-button>{{ 'GO_BACK' | translate }}</button>
