<section class="pokemon-details__container">
  <app-pokemon-card *ngIf="(pokemon$ | async) as pokemon"
                    [clickable]="false"
                    [pokemon]="pokemon"
                    class="pokemon-details__pokemon-main-info-card"
  ></app-pokemon-card>

  <mat-card *ngIf="(pokemon$ | async) as pokemon" class="pokemon-details__pokemon-abilities-card">
    <mat-card-content class="pokemon-details__pokemon-card-content">
      <b class="pokemon-details__name">{{'ABILITIES' | titlecase}}</b>
      <ul>
        <li *ngFor="let ability of pokemon.abilitiesNames">{{ability}}</li>
      </ul>
    </mat-card-content>
  </mat-card>
</section>

<section *ngIf="(pokemonEvolutions$ | async) as evolutions">
  <b>{{'EVOLUTIONS' | translate}}</b>
  <div class="pokemon-details__evolutions-container">
    <app-pokemon-card
      (click)="openDetails(evolution)"
      *ngFor="let evolution of evolutions"
      [pokemon]="evolution"
      class="pokemon-details__pokemon-main-info-card"
    ></app-pokemon-card>
  </div>
</section>

<button (click)="goBack()" class="pokemon-details__go-back" mat-raised-button>{{'GO_BACK' | translate}}</button>
