:host {
  display: block;
  height: 100%;
  width: 100%;
}

.pokemon-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-card:hover {
  cursor: pointer;
}

.pokemon-card__image {
  pointer-events: none;
  user-select: none;
}
