:host {
  display: block;
  padding: 16px;
}

.pokemon-details__container {
  display: flex;
  margin-bottom: 16px;
}

.pokemon-details__pokemon-main-info-card {
  width: 150px;
}

.pokemon-details__pokemon-abilities-card {
  margin-left: 8px;
  width: 200px;

  .pokemon-details__pokemon-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.pokemon-details__pokemon-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-details__image {
  pointer-events: none;
  user-select: none;
}
