:host {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  row-gap: 16px;
  column-gap: 16px;
  padding: 16px;
}

.pokemon-list__pokemon-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-list__pokemon-card:hover {
  cursor: pointer;
}

.pokemon-list__pokemon-image {
  pointer-events: none;
  user-select: none;
}
