<mat-toolbar color="primary">
  <span class="pokemon-list__header">{{'APP_TITLE' | translate}}</span>
</mat-toolbar>

<section class="pokemon-list__container">
  <mat-card mat-ripple *ngFor="let pokemon of pokemons$ | async" class="pokemon-list__pokemon-card">
    <mat-card-content class="pokemon-list__pokemon-card-content" (click)="openDetails(pokemon)">
      <img src="{{pokemon.image}}" class="pokemon-list__pokemon-image"/>
      <b class="pokemon-list__pokemon">{{pokemon.name | titlecase}}</b>
    </mat-card-content>
  </mat-card>
</section>

<mat-paginator
  [length]="100"
  [pageSize]="10"
  (page)="changePage($event)"
  aria-label="Select page"
>
</mat-paginator>
